@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
:root{
    --brandClr: #0789B5;
    --BgGradient1: linear-gradient(260.27deg, #F0F6FA 1.42%, rgba(224, 224, 224, 0.15) 98.32%);
}

body{font-family: 'Poppins', sans-serif;font-size: 16px;color: #333333;transition: 0.3s;}
main{margin-top: 58px;}
.font-medium{font-weight: 600;}
.font-bold{font-weight: 700;}
.font-14{font-size: 14px;}
.font-15{font-size: 15px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font20{font-size: 20px;}

.text-brand{color: var(--brandClr);}
.heading-2{font-size: 40px;font-weight: 700;color: var(--brandClr);}
.btn-duedeck{background-color: var(--brandClr);color: #fff; font-size: 15px;font-weight: 500;border-radius: 30px;padding: 6px 17px;transition: 0.3s;}
.btn-duedeck:hover{background-color:#05a9e1;color: #fff;}
.btn-duedeck .btn-icon{margin-left: 5px;width: 20px;height: 20px;}
.btn-duedeck-outline{
    background-color: transparent;border: 1px solid var(--brandClr);
    font-size: 15px;font-weight: 500;border-radius: 30px;padding: 6px 17px;transition: 0.3s;color: var(--brandClr);
}
.btn-duedeck-outline:hover{background-color: var(--brandClr);color: #fff;}
.btn-lg{
    height: 50px;
    padding: 10px 35px;
    font-size: 16px;
}
.bg-light{background-color: #F3F5F5;}

.text-shadow{text-shadow: 0px 1px 3px #00000021;}

.sticky-btns{
    position: sticky;
    bottom: 10px;
    margin-bottom: 8px;
    text-align: right;
    padding: 0 15px;
    z-index: 9;
    
}
.btn-free-trial{
    display: inline-block;
    background: #da9c07;
    text-decoration: none;
    color: #fff;
    padding: 5px 14px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 1px 18px #0000003b;
    position: relative;
    z-index: 4;
}

.bg-gradient-1{background: var(--BgGradient1);}
.bg-color-gradient{background: linear-gradient(126.94deg, #008BBA 5.13%, #14C0FB 107.28%);}
.banner-sec{
    /* background-image: url('../images/hero-banner.jpg'); */
    background-size: cover;
    height: calc(100vh - 58px);
    background-position: top;
    background-color: #fff;
}
.banner-sec .title{font-size: 45px; font-weight: 700; color: #000;}
.heading-devider{height: 5px;background: linear-gradient(90deg, #008BBA 0%, rgba(0, 139, 186, 0) 104.07%);width: 50%;}

.header{
    box-shadow: 0px 4px 8px #00000014;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.notification-header{
    background: linear-gradient(126.94deg, #008BBA 5.13%, #14C0FB 107.28%);
     color:#fff
    }
.notification-header .top-nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.notification-header .top-nav-link{
    animation: color-change 1s infinite;
}
@keyframes color-change {
    0% { color: #fff; }
    50% { color: #99ff21; }
    100% { color: #fff; }
}
  

.header-nav.navbar .nav-item .nav-link{font-size: 14px;font-weight: 500;color: #333333;transition: 0.3s;}
.header-nav.navbar .nav-item .nav-link.active,.navbar .nav-item .nav-link:hover {color: var(--brandClr);}
.header-nav .nav-btn .btn-link{
    background-color: var(--brandClr);
    padding: 7px 15px;
    border-radius: 30px;
    color: #fff !important;
    transition: 0.3s;
}
.header-nav .nav-btn .btn-link:hover{background-color: #057ba2;}
.header-nav .nav-btn .btn-link i{margin-right: 4px;}
.header-nav .nav-btn.outline .btn-link{
    background-color: #fff;
    border: 1px solid var(--brandClr);
    color: var(--brandClr) !important;
}
.header-nav .nav-btn.outline .btn-link:hover{background-color: var(--brandClr);color: #fff !important;}
.hero-carosel .carousel-item .title{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0px 5px 4px #00000014;
}

.hero-carosel .carousel-indicators{
    bottom: -30px;
    justify-content: start;
    margin-left: 0;
}
.hero-carosel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #a0a0a0;
    border: 0;
}
.hero-carosel .carousel-indicators button.active{background-color: var(--brandClr);}
.hero-carosel .carousel-inner{display: flex;align-items: end;}

.features-sec{
    background-image: url('../images/features-bg.jpg');
background-size: cover;
}
.sec-WorkEfficiency{
    background-image: url('../images/2-color-bg.png');
    background-size: cover;
}

.testimonial-slider{padding: 35px 30px 0;}
.testimonial-slider .carousel-item .t-card{
    box-shadow: 0px 0px 15px #00000017;
    border-radius: 10px;
    position: relative;
    padding: 35px 20px;
}
.testimonial-slider .carousel-item .message{font-size: 17px;}
.testimonial-slider .carousel-item .author-name{font-size: 15px;font-weight: 600;margin-bottom: 0;}
.testimonial-slider .carousel-item .company-name{font-size: 12px;color: #6c6c6c;margin-bottom: 0;}
.testimonial-slider .carousel-item .profile-photo{
    width: 80px;height: 80px; 
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 12px #00000030;
    margin-top: -75px;
    margin-left: -60px;
}
.testimonial-slider .quoate-icon{
    font-size: 50px;
    position: absolute;
    left: 88px;
    top: 7px;
    color: #ddd;
}
#TestimonialCarousel .controls{
    top: 55%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#TestimonialCarousel .controls a{
    font-size: 25px;
    color: #ddd;
}
#TestimonialCarousel .controls a:hover{color: #6c6c6c;}
#TestimonialCarousel .carousel-indicators [data-bs-target]{background-color: var(--brandClr);width: 10px;height: 10px;}
#TestimonialCarousel .carousel-indicators{bottom: -30px;margin-bottom: 0;}

.help-feature-card{padding: 15px;border: 1px solid #ddd;display: block;border-radius: 12px;background: #ffffff6e;}
.help-feature-card img{width: 90px; height: 90px;}
.help-feature-card .helps-title{font-size: 16px;font-weight: 600;margin-bottom: 0;}

.features-row .feature-card{border-radius: 6px;background-color: #fff;padding: 15px 15px;text-align: center;margin-bottom: 44px;min-height: 282px;}
.features-row .feature-card .feature-icon-box{margin-bottom: 9px;margin-top: -48px;}
.features-row .feature-card .feature-icon{width: 70px; height: 70px;}
.features-row .feature-card .feature-name{font-size: 18px;color: var(--brandClr);font-weight: 700;}
.features-row .feature-card .feature-detail{font-size: 13px;margin-bottom: 0;}

.why-need-sec{
    background-image: url('../images/why-need-bg.jpg');
    background-size: cover;
    
}
.why-nned-content-card{max-height: 350px; overflow: auto;background: #ffffffd4;}
.why-nned-content-card ul{padding-left: 20px;    line-height: 24px;}
.why-nned-content-card ul li{margin-bottom: 7px;font-size: 15px;}

.pricing-sec{
    background-image: url('../images/pricing-bg.jpg');
    background-size: cover;
}
.pricing-card{box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.06);border-radius: 15px;border: 0;}
.pricing-card .card-header{
    background: linear-gradient(92.45deg, #0080AB -1.64%, #079ACC 102.6%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0px 0px;
}
.pricing-card .plan-name{color: #fff;font-size: 22px;font-weight: 700;text-transform: uppercase;margin-bottom: 4px;}
.pricing-card .price{color: #fff;font-size: 18px;font-weight: 400; margin-bottom: 0;line-height: 19px;}
.pricing-card .module-name{display: flex;font-size: 15px; }
.pricing-card .module-name .icon{color: var(--brandClr);margin-right: 4px;}

.faq-accordion .accordion-button{background-color: #d9eaf0;color: #000;padding: 8px 15px;font-size: 15px;font-weight: 500;}
.faq-accordion .accordion-button:focus{box-shadow: none;}
.faq-accordion .accordion-button.collapsed{background-color: #eceff0;}
.faq-accordion .accordion-item{margin-bottom: 7px;border: 0;}
.faq-accordion .accordion-body{background-color: #f7f7f7;font-size: 15px;line-height: 24px;}

.footer{
    background: linear-gradient(92.6deg, #007197 0.42%, #008BBA 101.3%);
}
.footer .social-link{font-size: 20px;color: #ABC9D2;margin-right: 10px;}
.footer .social-link:hover{color: #fff;}
.footer .footer-copy-right{font-size: 12px;padding: 8px 5px;background-color: #0000001c;}
.footer .footer-nav li{list-style: none;margin-bottom: 5px;}
.footer .footer-nav li a{font-size: 14px; color: #fff; text-decoration: none;}
.footer .footer-nav li a:hover{color: #72c6e3;}

.form-control:focus{box-shadow: none;}
.has-validation .form-control:valid{
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-style .form-floating:not(.has-validation) .form-control{border-color: #ddd;background-image: none;}

/* Mobile css  */
@media only screen and (max-width: 600px) {
    .btn-lg{padding: 10px 20px;}
    .heading-2{font-size: 24px;}
    .lead{font-size: 16px;}
    .banner-sec{height: auto;}
    .banner-sec .title{font-size: 30px;text-align: center;}
    .features-row .feature-card{min-height: auto;}
    .cotntacts-links{padding-left: 0;}
    .help-feature-card .helps-title{font-size: 15px;}
    .cotntacts-links li{display: inline;margin: 0 5px;white-space: nowrap;}
    .header-nav .nav-btn .btn-link{max-width: 115px;}
    .testimonial-slider {
        padding: 20px 5px 0;
    }
}

/* Ipad css  */
@media only screen and (device-width: 768px) {
    .heading-2{font-size: 28px;}
    .banner-sec{height: auto;}
    .banner-sec .hero-img{width: 500px;}
    .navbar-brand img{width: 105px;}
    .help-feature-card .helps-title{font-size:15px ;}
    .header-nav.navbar .nav-item .nav-link{font-size: 15px;}
  }

  .value-bg{background-image: url('../images/value-bg.png');background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;}

    .pricing-card .module-name {
        display: flex;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .pricing-card.pro .card-header{
        padding: 20px 5px;
    }

    .pricing-card.pro .plan-name{font-size:29px }